In [ ]:
import pandas as pd
from tensorflow.keras import layers, Sequential
from matplotlib import pyplot as plt
from sklearn import preprocessing
from sklearn import model_selection

In [ ]:
!ls

sample_data  Telco-Customer-Churn.csv

In [ ]:
df = pd.read_csv("Telco-Customer-Churn.csv")
df.head()

   customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  7590-VHVEG  Female              0  ...          29.85        29.85     No
1  5575-GNVDE    Male              0  ...          56.95       1889.5     No
2  3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3  7795-CFOCW    Male              0  ...          42.30      1840.75     No
4  9237-HQITU  Female              0  ...          70.70       151.65    Yes

[5 rows x 21 columns]

In [ ]:
df.shape

(7043, 21)

In [ ]:
df.drop('customerID', axis = 1, inplace = True)

In [ ]:
df.head()

   gender  SeniorCitizen Partner  ... MonthlyCharges  TotalCharges Churn
0  Female              0     Yes  ...          29.85         29.85    No
1    Male              0      No  ...          56.95        1889.5    No
2    Male              0      No  ...          53.85        108.15   Yes
3    Male              0      No  ...          42.30       1840.75    No
4  Female              0      No  ...          70.70        151.65   Yes

[5 rows x 20 columns]

In [ ]:
df.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [ ]:
df.TotalCharges.values

array(['29.85', '1889.5', '108.15', ..., '346.45', '306.6', '6844.5'],
      dtype=object)

In [ ]:
df[df['TotalCharges'] == " "]

      gender  SeniorCitizen Partner  ... MonthlyCharges  TotalCharges Churn
488   Female              0     Yes  ...          52.55                  No
753     Male              0      No  ...          20.25                  No
936   Female              0     Yes  ...          80.85                  No
1082    Male              0     Yes  ...          25.75                  No
1340  Female              0     Yes  ...          56.05                  No
3331    Male              0     Yes  ...          19.85                  No
3826    Male              0     Yes  ...          25.35                  No
4380  Female              0     Yes  ...          20.00                  No
5218    Male              0     Yes  ...          19.70                  No
6670  Female              0     Yes  ...          73.35                  No
6754    Male              0      No  ...          61.90                  No

[11 rows x 20 columns]

In [ ]:
df.columns[df.isna().any()]

Index([], dtype='object')

In [ ]:
df[df['TotalCharges'] == " "].shape

(11, 20)

In [ ]:
df = df[df['TotalCharges'] != ' ']

In [ ]:
df[df['TotalCharges'] == ' ']

Empty DataFrame
Columns: [gender, SeniorCitizen, Partner, Dependents, tenure, PhoneService, MultipleLines, InternetService, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, Contract, PaperlessBilling, PaymentMethod, MonthlyCharges, TotalCharges, Churn]
Index: []

In [ ]:
df.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [ ]:
df['TotalCharges'] = pd.to_numeric(df.TotalCharges)
df.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

In [ ]:
for column in df:
    if df.dtypes[column] == 'object':
        print(f'{column} ------->>  {df[column].unique()}')
        print(" ")

gender ------->>  ['Female' 'Male']

Partner ------->>  ['Yes' 'No']

Dependents ------->>  ['No' 'Yes']

PhoneService ------->>  ['No' 'Yes']

MultipleLines ------->>  ['No phone service' 'No' 'Yes']

InternetService ------->>  ['DSL' 'Fiber optic' 'No']

OnlineSecurity ------->>  ['No' 'Yes' 'No internet service']

OnlineBackup ------->>  ['Yes' 'No' 'No internet service']

DeviceProtection ------->>  ['No' 'Yes' 'No internet service']

TechSupport ------->>  ['No' 'Yes' 'No internet service']

StreamingTV ------->>  ['No' 'Yes' 'No internet service']

StreamingMovies ------->>  ['No' 'Yes' 'No internet service']

Contract ------->>  ['Month-to-month' 'One year' 'Two year']

PaperlessBilling ------->>  ['Yes' 'No']

PaymentMethod ------->>  ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']

Churn ------->>  ['No' 'Yes']

In [ ]:
df.replace('No internet service', 'No', inplace = True)
df.replace('No phone service', 'No', inplace = True)

In [ ]:
df.head()

   gender  SeniorCitizen Partner  ... MonthlyCharges  TotalCharges Churn
0  Female              0     Yes  ...          29.85         29.85    No
1    Male              0      No  ...          56.95       1889.50    No
2    Male              0      No  ...          53.85        108.15   Yes
3    Male              0      No  ...          42.30       1840.75    No
4  Female              0      No  ...          70.70        151.65   Yes

[5 rows x 20 columns]

In [ ]:
for cols in df:
    if df.dtypes[cols] == 'object':
        print(f'{cols} --------->>  {df[cols].unique()} ')
        print(" ")

gender --------->>  ['Female' 'Male']

Partner --------->>  ['Yes' 'No']

Dependents --------->>  ['No' 'Yes']

PhoneService --------->>  ['No' 'Yes']

MultipleLines --------->>  ['No' 'Yes']

InternetService --------->>  ['DSL' 'Fiber optic' 'No']

OnlineSecurity --------->>  ['No' 'Yes']

OnlineBackup --------->>  ['Yes' 'No']

DeviceProtection --------->>  ['No' 'Yes']

TechSupport --------->>  ['No' 'Yes']

StreamingTV --------->>  ['No' 'Yes']

StreamingMovies --------->>  ['No' 'Yes']

Contract --------->>  ['Month-to-month' 'One year' 'Two year']

PaperlessBilling --------->>  ['Yes' 'No']

PaymentMethod --------->>  ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']

Churn --------->>  ['No' 'Yes']

In [ ]:
list_col = ['Partner', 'Dependents', 'PhoneService', 'MultipleLines', 'OnlineSecurity', 
            'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
            'StreamingMovies', 'PaperlessBilling', 'Churn']

In [ ]:
for cols in list_col:
    df[cols].replace({'Yes':1, 'No':0}, inplace = True)

In [ ]:
df.head()

   gender  SeniorCitizen  Partner  ...  MonthlyCharges  TotalCharges  Churn
0  Female              0        1  ...           29.85         29.85      0
1    Male              0        0  ...           56.95       1889.50      0
2    Male              0        0  ...           53.85        108.15      1
3    Male              0        0  ...           42.30       1840.75      0
4  Female              0        0  ...           70.70        151.65      1

[5 rows x 20 columns]

In [ ]:
for col in df:
    print(f' {col} ------->> {df[col].unique()} ')
    print(" ")

 gender ------->> ['Female' 'Male']

 SeniorCitizen ------->> [0 1]

 Partner ------->> [1 0]

 Dependents ------->> [0 1]

 tenure ------->> [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26 39]

 PhoneService ------->> [0 1]

 MultipleLines ------->> [0 1]

 InternetService ------->> ['DSL' 'Fiber optic' 'No']

 OnlineSecurity ------->> [0 1]

 OnlineBackup ------->> [1 0]

 DeviceProtection ------->> [0 1]

 TechSupport ------->> [0 1]

 StreamingTV ------->> [0 1]

 StreamingMovies ------->> [0 1]

 Contract ------->> ['Month-to-month' 'One year' 'Two year']

 PaperlessBilling ------->> [1 0]

 PaymentMethod ------->> ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']

 MonthlyCharges ------->> [29.85 56.95 53.85 ... 63.1  44.2  78.7 ]

 TotalCharges ------->> [  29.85 1889.5   108.15 ...  346.45  306.6  6844.5 ]

 Churn ------->> [0 1]

In [ ]:
df['gender'].replace({'Female':1, 'Male':0}, inplace = True)

In [ ]:
df.gender.unique()

array([1, 0])

In [ ]:
obj_lis = ['InternetService', 'Contract', 'PaymentMethod']
le0 = preprocessing.LabelEncoder()
le1 = preprocessing.LabelEncoder()
le2 = preprocessing.LabelEncoder()
df['InternetService'] = le.fit_transform(df['InternetService'])
df['Contract'] = le.fit_transform(df['Contract'])
df['PaymentMethod'] = le.fit_transform(df['PaymentMethod'])

In [ ]:
df.head()

   gender  SeniorCitizen  Partner  ...  MonthlyCharges  TotalCharges  Churn
0       1              0        1  ...           29.85         29.85      0
1       0              0        0  ...           56.95       1889.50      0
2       0              0        0  ...           53.85        108.15      1
3       0              0        0  ...           42.30       1840.75      0
4       1              0        0  ...           70.70        151.65      1

[5 rows x 20 columns]

In [ ]:
df.dtypes

gender                int64
SeniorCitizen         int64
Partner               int64
Dependents            int64
tenure                int64
PhoneService          int64
MultipleLines         int64
InternetService       int64
OnlineSecurity        int64
OnlineBackup          int64
DeviceProtection      int64
TechSupport           int64
StreamingTV           int64
StreamingMovies       int64
Contract              int64
PaperlessBilling      int64
PaymentMethod         int64
MonthlyCharges      float64
TotalCharges        float64
Churn                 int64
dtype: object

In [ ]:
scaler = preprocessing.MinMaxScaler()
cols = ['tenure', 'MonthlyCharges', 'TotalCharges']
df[cols] = scaler.fit_transform(df[cols])

In [ ]:
df.sample(5)

      gender  SeniorCitizen  Partner  ...  MonthlyCharges  TotalCharges  Churn
2999       0              0        1  ...        0.023383      0.045713      0
4907       1              0        1  ...        0.055721      0.190780      0
5122       1              0        1  ...        0.314428      0.152014      0
3583       0              0        1  ...        0.418408      0.280372      0
1698       0              0        1  ...        0.662189      0.707778      0

[5 rows x 20 columns]

In [ ]:
X = df.drop('Churn', axis = 1)
y = df['Churn']

In [ ]:
x_train, x_test, y_train, y_test = model_selection.train_test_split(X, y, test_size = 0.2, random_state = 5)

In [ ]:
x_train.shape

(5625, 19)

In [ ]:
x_test.shape

(1407, 19)

In [ ]:
y_train.shape

(5625,)

In [ ]:
model = Sequential()
model.add(layers.Flatten(input_shape = (19, )))
model.add(layers.Dense(50, activation = 'relu'))
model.add(layers.Dense(50, activation = 'relu'))
model.add(layers.Dense(50, activation = 'relu'))
model.add(layers.Dense(1, activation = 'sigmoid'))

model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
model.fit(x_train, y_train, epochs = 7)

Epoch 1/7
176/176 [==============================] - 1s 1ms/step - loss: 0.4863 - accuracy: 0.7481
Epoch 2/7
176/176 [==============================] - 0s 2ms/step - loss: 0.4252 - accuracy: 0.7979
Epoch 3/7
176/176 [==============================] - 0s 2ms/step - loss: 0.4165 - accuracy: 0.8041
Epoch 4/7
176/176 [==============================] - 0s 2ms/step - loss: 0.4117 - accuracy: 0.8062
Epoch 5/7
176/176 [==============================] - 0s 2ms/step - loss: 0.4102 - accuracy: 0.8094
Epoch 6/7
176/176 [==============================] - 0s 1ms/step - loss: 0.4057 - accuracy: 0.8091
Epoch 7/7
176/176 [==============================] - 0s 1ms/step - loss: 0.4038 - accuracy: 0.8101

In [ ]:
model.evaluate(x_test, y_test)

44/44 [==============================] - 0s 926us/step - loss: 0.4524 - accuracy: 0.7875

[0.4523814618587494, 0.7874911427497864]

In [ ]:
yp = model.predict(x_test)
yp[:5]

array([[0.2825477 ],
       [0.4116528 ],
       [0.00976458],
       [0.79757655],
       [0.31930822]], dtype=float32)

In [ ]:
y_pred = []
for elem in yp:
    if elem > 0.5:
        y_pred.append(1)
    else:
        y_pred.append(0)

In [ ]:
y_pred[:5]

[0, 0, 0, 1, 0]

In [ ]:
y_test[:5]

2660    0
744     0
5579    1
64      1
3287    1
Name: Churn, dtype: int64

In [ ]:
from sklearn import metrics
print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.81      0.91      0.86       999
           1       0.69      0.48      0.57       408

    accuracy                           0.79      1407
   macro avg       0.75      0.70      0.71      1407
weighted avg       0.78      0.79      0.77      1407